.edo-search {
  max-width: 940px;
  width: 100%;
  background: #FFF;
  border-top: 1px solid #CCC;
  border-radius: 4px;
  padding: 16px;

  &-inputs {
    display: flex;
    padding-bottom: 8px;
    
    & > * {
      flex-grow: 1;
  
      &:not(:first-child) .edo-input {
        border-left: none;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: right;
  }

  &-submit {
    background-color: var(--edo-blue);
    color: #fff;
    font-weight: bold;
    border-radius: 22px;
    height: 44px;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
    font-size: 16px;

    &.active {
      cursor: pointer;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}