.edo-home {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center; 
    }
}